@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-8 mb-5">
        <h2>What We Do</h2>
        <hr>
        <p>PrepIn connects IT industry professionals to students looking to prepare for their first IT interview. PrepIn creates interviews that simulates real world job interviews.</p>
    </div>
    <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <p>EMAIL</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">Tyler Thomas</h4>
                <p class="card-text">Software Developer</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">EMAIL</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">David Ferdiny</h4>
                <p class="card-text">Cyber Security & Project Manager</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">EMAIL</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">Kyle Millsap</h4>
                <p class="card-text">Front End UI & Network Engineer</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">EMAIL</a>
            </div>
        </div>
    </div>
</div>

</div>