
@{
    ViewBag.Title = "Account Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AccountSuccess</h2>

<div class="alert alert-success">
    A email validation email has been sent to the address you provided. Before you can log in, you must click the link in the email to
    verify your account. 
</div>

