@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    University of Cincinnati<br />
    Cincinnati, OH 45221<br />
    <abbr title="Phone">P:</abbr>
    513.556-5000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">prepinSupport@gmail.com</a><br />
    
</address>