@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    University of Cincinnati<br />
    Cincinnati, OH 45221<br />
    <abbr title="Phone">P:</abbr>
    513.556-5000
</address>

<address>
    <strong>General Support:</strong>   <a href="mailto:prepinSupport@gmail.com">prepinSupport@gmail.com</a><br />

    <br /><br /><strong>Developer Contact Info</strong>
    <br /><a href="mailto:thomast5@mail.uc.edu">Tyler T</a>
    <br /><a href="mailto:ferdindk@mail.uc.edu">David F</a>
    <br /><a href="mailto:millsakd@mail.uc.edu">Kyle M</a>
</address>