@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PrepIn</h1>
    <p class="lead">Welcome to PrepIn! Making prepairing for your interview easy and stress free!</p>
    <p>@Html.ActionLink("Click Here To Begin", "CreateUser", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            PrepIn connects IT industry professionals to students looking to prepare for their first IT interview by creating a mock interview that simulates a real professional job interview.
        </p>

    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>Live video chatting with an industry professional simulates a face to face interview. Since the goal of PrepIn is to improve your interviewing skills, you can relax knowing that you will be given tips on how you can improve! </p>
        <p><a class="btn btn-default" href="/Home/CreateUser">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>PrepIn is an upcoming web based application developed by Tyler Thomas, David Ferdiny, and Kyle Millsap.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Learn more &raquo;</a></p>
    </div>
</div>