
@{
    ViewBag.Title = "Live Interview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title> Interview </title>
    <link href="~/Content/webchat.css" rel="stylesheet" type="text/css">
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
</head>
<body>

    <div id="videos" class="align-content-lg-center">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div>

    <div id="textchat" class="align-content-lg-end">
        <p id="history"></p>
        <form>
            <input type="text" placeholder="Input your text here" id="msgTxt">
        </form>
    </div>

    <script type="text/javascript" src="~/Scripts/webrtc.js"></script>
</body>
</html>

