<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    <div>
        Welcome
        <b>@Session["UserName"].ToString()</b>
        <br />
        <br />
        @Html.ActionLink("Logout", "Logout", "Home")
    </div>
</body>
</html>