@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Verify Account";
}


<div class=alert alert-success>
    <strong>Success!</strong> You have successfully activated your account. Please click @Html.ActionLink("here", "Login", "Home") to login.
</div>